@import '../../../styles/pallete';

.list-content-listed {
    width: 100%;
    position: relative;
    .list-content-tile {
        width: 100%;
        box-sizing: border-box;
        padding: 8px 10px;
        position: relative;
        padding-left: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--mosaic {
            margin-left: -15px;
            padding: 15px;
            padding-right: 10px;
            width: calc(100% + 15px);
            border-bottom: 1px solid $two-line;
            align-content: flex-start;
            &:last-child { border-bottom: none;;}
            .list-text {
                margin-right: 5px;
            }
        }
        .list-text {
            font-size: 12px;
            padding-top: 1px;
        }
    }
    .list-content-tile:last-child {
        margin-bottom: -11px;
    }
    .list-content-tile:first-child {
        margin-top: -11px;
    }
}