@import '../../styles/pallete';

.list-wrapper {
    padding: 7.5px;
    padding-bottom: 90px;
    height: 100%;
    width: 100%;
    overflow-x: auto;

    .on-list-empty {
        text-align: center;
        font-size: 13px;
        width: 200px;
        margin: 0 auto;
        margin-top: 44vh;
        color: $font-blur;
        svg {
            height: 20px;
            margin-top: 7px;
        }
    }
    .section-title {
        font-size: 10px;
        font-weight: bold;
        color: $font-blur;
        padding: 12px 17px;
    }
}

