@import '../../../styles/pallete';

.modal-textarea {
    height: calc(100vh - 360px);
    width: 100%;
    resize: none;
    padding: 10px 20px;
    border: 0px;
    font-size: 14px;
    outline: none;
    background-color: transparent;
    color: $four;
}
.modal-textarea::placeholder {
    color: $font-blur;
}

@media( max-width : 768px ) {
    .modal-textarea {
        height: calc(100% - 160px);
    }
}