@import '../../styles/pallete';

.modal-open, .modal-close {
    transition: all .3s ease;
    visibility: visible;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: calc(100vh - 200px);
    z-index: 100;
    background-color: $one;
    top: 0;
    left: 0;
    transform: translate(0px, 0px);
    .modal-wrapper {
        position: relative;
        height: inherit;
        width: 100%;
        margin: 0 auto;
        padding-top: 2px;
        background-color: $one;
        box-shadow: 0px -7px 10px -3px rgba(0, 0, 0, 0.089);
        
        /* MODAL HEADER TILE */
        .modal-header {
            margin-top: 15px;
            margin-bottom: 2px;
            height: 40px;
            width: 100%;
            position: relative;
            .modal-back-btn, .modal-pin-btn-on, .modal-pin-btn-off {
                float: left;
                height: 100%;
                font-size: 17px;
                width: 40px;
                border-radius: 50%;
                margin-left: 10px;
                color: $five;
            }
            .modal-pin-btn-on, .modal-pin-btn-off {
                float: right;
                margin-top: 7px;
                margin-right: 18px;
                text-align: center;
                width: 28px;
                height: 28px;
                font-size: 17px;
                // color: $font-blur;
            }
            .modal-pin-btn-on {
                color: $three;
            }
        }
        
        /* MODAL FOOTER TILE */
        .modal-footer {
            z-index: 1;
            position: fixed;
            bottom: 0;
            height: 52px;
            width: 100%;
            padding-bottom: 12px;
            background-color: $one;
            display: grid;
            grid-template-columns: [f0] 50px [f1] 1fr [f2] 62px [f3];
            .modal-left-btn, .modal-right-btn {
                outline: none;
                background-color: transparent;
                color: $five;
                border: 0px;
                width: 50px;
                height: 40px;
                font-size: 20px;
                font-weight: 600;
            }
            .modal-right-btn {
                grid-column: f2 / f3;
                color: $four;
                font-size: 22px;
            }
            .modal-left-btn {
                margin-left: 1px;
                font-size: 17px;
            }
            .modal-time-socket {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                padding-top: 2px;
                color: $five;
            }
        }
        
        /* MODAL OPTION TILE */
        .modal-options-on, .modal-options-off {
            width: 100%;
            position: absolute;
            bottom: 0;
            padding: 18px 0;
            background-color: $one;
            box-shadow: 0px -8px 6px -3px rgba(0, 0, 0, 0.089);
            transform: translate(0px, 80px);
            transition: all .3s ease;
            .modal-options-btn {
                text-align: left;
                width: 100%;
                padding-left: 20px;
                color: $four;
                font-size: 14px;
                svg {
                    font-size: 16px;
                    color: $five;
                    margin-right: 22px;
                }
                margin-bottom:8px;
                height: 34px;
            }
        }
        .modal-options-on {
            transform: translate(0px, -38px);
        }
    }
}
.modal-close {
    visibility: hidden;
    opacity: 0;
    transform: translate(0px, 30px);
}
        
/* MODAL TITLE */
.modal-title {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: transparent;
    border: 0px;
    padding: 0 20px;
    outline: none;
    color: $four;
    font-size: 15.5px;
    font-weight: 600;
}
.modal-title::placeholder {
    color: $font-blur;
}

@media( max-width : 768px ) {
    .modal-open, .modal-close {
        height: 100%;
    }
}