@import './styles/pallete';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Roboto',arial,sans-serif;
}
body {
  background-color: $zero;
}

button, input {
  border: none;
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
}

.outer-wrapper {
  max-width: 768px;
  margin: 0 auto;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
}
.app-frame {
  background-color: $one;
  height: calc(100vh - 200px);
  width: 100%;
  position: relative;
  color: $four;
  overflow: hidden;
  word-break: break-word;
  border-radius: 20px;
}

.outer-wrapper {
  visibility: visible;
  opacity: 1;
}

.add-button {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 0px;
  background-color: $two;
  margin-right: 26px;
  box-shadow: 2px 4px 3px 1px rgba(0,0,0,0.09);
  margin-bottom: 30px;
  font-size: 20px;
  color: $three;
  padding-top: 3.5px;
  outline: none;
  transition: all .2s ease;
  text-align: center;
  user-select: none;
  z-index: 3;
}
.add-button:active {
  transform: translate(0px, -6px);
}

@media( max-width : 768px ) {
  .app-frame {
    height: 100%;
    border-radius: 0px;
  }
  .add-button {
    position: fixed;
  }
}