@import '../../styles/pallete';

.btn-img {
    color: $four !important;
    svg {
        filter: drop-shadow( 0px 0px 4px rgba(0, 0, 0, .75));
    }
}

.btn-file-socket, .btn-file-socket-mid {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    margin-bottom: 20px;
    height: 56px;
    display: flex;
    align-items: center;
    transition: all 0.4s;
    padding: 0px 20px;
    justify-content: center;
}

.btn-file {
    font-size: 25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: all .3s;
}

.btn-file-socket {
    width: 90px;
    .btn-file {
        margin-top: 8px;
        font-size: 20px;
    }
}